.container {
  padding: 10% 10%;
}

.form-travels {
  max-width: 300px;
}

[nz-form]:not(.ant-form-inline):not(.ant-form-vertical) {
  max-width: 600px;
}

.form-item {
  display: block;
  margin-bottom: 10px;
}

.align-button-create {
  text-align: right;
    padding-bottom: -5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
